[style*='background-image: url("/assets/a12ff54c4c5c03b41006fd96a4709c29.svg");']{
    background-image: url(https://i.imgur.com/G10Gvot.gif) !important;
    height: 480px !important;/*one day I solve this thing... I swear*/
    width: 320px !important;
}
.flex-1xMQg5{
    max-width: none;
    max-height: none;
    flex: none;
}
.text-GwUZgS{display: none;} 
