[style*='background-image: url("/assets/a12ff54c4c5c03b41006fd96a4709c29.svg");']{
    background-image: url(https://i.imgur.com/BqC2EY1.gif) !important;
    height: 100% !important;/*one day I solve this thing... I swear*/
    width: 65%!important;
}
.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignCenter-1dQNNs.noWrap-3jynv6.wrapper-r-6rrt{
    max-width: none;
    max-height: none;
    flex: none;
    position: absolute;
    margin-bottom: 0px!important;
    justify-content:flex-end !important;
}
.image-1GzsFd.marginBottom40-2vIwTv{margin-bottom:0px!important;}
.text-GwUZgS{display: none;}
